
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1474779259'); /* IE9*/
  src: url('iconfont.eot?t=1474779259#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1474779259') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1474779259') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1474779259#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-gold:before { content: "\e61e"; }
.icon-iconyt:before { content: "\e611"; }
.icon-20160518wangzhanshouyetongicon:before { content: "\e619"; }
.icon-fanyezuo:before { content: "\f000b"; }
.icon-fanyeyou:before { content: "\f000a"; }
.icon-youfanye:before { content: "\e627"; }
.icon-zuofanye:before { content: "\e62b"; }
.icon-weibiaoti1:before { content: "\e605"; }
