
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1470139356'); /* IE9*/
  src: url('iconfont.eot?t=1470139356#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1470139356') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1470139356') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1470139356#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shenfenzheng:before { content: "\e67f"; }
.icon-2-copy:before { content: "\e62e"; }
.icon-xiangji:before { content: "\e6ed"; }
.icon-yinxingqia:before { content: "\e636"; }
.icon-bianji:before { content: "\e642"; }
.icon-weibiaoti1:before { content: "\e61d"; }
.icon-shenfenzheng1:before { content: "\e622"; }
.icon-bianji1:before { content: "\e68a"; }
