body{color:#fff;background:#fff;}
.bg_r{background:#e6262e;}
.mar_b0{margin-bottom: 0;}
.pad_t5{padding-top:5px;}
.pad_t8{padding-top:8px;}
ul{margin: 0;padding: 0;}
.mine-pic{width:78px;height:79px;border:3px solid #fff;border-radius:50%;line-height:60px;}
.mine-pic img{width:100%;border-radius:50%;}
.media{padding: 20px 0 10px 20px;}
.media-body{padding-left:10px;padding-top:5px;}
.media-body p{margin-bottom:5px;}

.mine-list{width: 100%;overflow: hidden;border-bottom: 1px solid #C0C0C0;padding:30px 0;}
.mine-list li{width:33%;float:left ;list-style: none;}
.mine-list li:nth-child(3) a{border-right:transparent;}
.mine-list li a{width:100%;display:inline-block;border-right:1px solid #C0C0C0;color:#e6262e;text-align: center;}
.mine-list li a:hover{text-decoration: none;}

.row ul:nth-child(3){border:none;}
.bor-bottom{border-bottom: 1px solid #ababab;}



/*底部导航栏 begin*/
.footer_nav{
	width:100%;
	line-height: 1em; 
	text-align: center;
	position:fixed;
	bottom:0px;
	border-top:1px solid #C7C7C7;
	background:#fff;
	padding:5px 0px 6px 0px;
	z-index:1013;
}
.footer_nav li{
	float:left;
	width:25%;
	text-align:center;
}
.footer_nav li a{
	text-decoration:none;
	display:block;
}
.footer_nav li a p{
	color:#7c7c7c;
	font-size:1.2rem;
	padding-top:3px;
}
/*end 底部导航栏 */
/*清除浮动*/
.clearfix{
	*zoom:1;
}
.clearfix:after{
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
	}
	